body {
  background-color: rgb(243, 232, 254);
}

/* header {
  display: flex;
  justify-content: center;
} */

h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(89, 46, 201);
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

img {
  height: 100px;
  margin: auto 550px 30px 550px
}

main {
  padding: 2rem;
  border-radius: 8px;
  margin: auto 300px auto 300px;
  background-color: rgb(118, 74, 217);
  color: rgb(255, 228, 254)
}

/* colors
h2 rgb(249,235,255)
highlighted rgb(246,227,203)
rest font rgb(255,228,254)
a rgb(247,231,166)
footer a rgb(249,201,38)
 */
